:root {
    --green : #57BB6B ;
    --Maven : 'Maven Pro', sans-serif;
    --Quattrocento: 'Quattrocento', serif;
    --Sriracha : 'Sriracha', cursive;
}
body {
    text-align: center;
    background-color: var(--green) ;
    margin: 8px 0px;
}
.home {
    background-image: url("../img/Copie\ d\'écran\ du\ Plan\ de\ travail\ 1.png");
    height: 380px;
    padding: 28px;
}
.ticket {
 text-align: center;
 background-color: rgba(255, 255, 255, 0.76) ;
 padding: 36px 0px ;
}
.ticket img {
    width: 210px;
}
.description {
    font-size: 20px;
    font-family: var(--Quattrocento);
    color: var(--green);
    margin: 15px 74px 33px 83px;
    
}
nav {
    margin: 33px ;
}
nav div {
    margin-bottom: 50px;
}
nav div a {
    margin-bottom: 50px;
    padding: 14px 17px;
    border-radius: 15px;
    text-decoration: none;
    font-family: var(--Maven) ;
}
.button {
    background-color: var(--green);
    color: white;
}
.button-light { 
    background-color: white;
    color: var(--green);
}
.intro {
    background-color: white;
    padding: 90px 0px ;
}
.intro p {
    font-size: 16px;
    font-family: var(--Quattrocento);
}
h1 {
    margin: 0px;
}
.fruitline {
    width: 30px;
    padding: 0px 15px;
    margin-top: 35px;
}
.title {
font-size: 26px;
 font-family: var(--Maven);
 font-style: bold;
 margin: 95px 96px 31px 95px;
}
.Product {
    margin: 40px 30px;
}
.titleProducts {
color: white;
font-size: 26px;
font-family: var(--Maven);
margin-bottom: 35px;
}
.fruitboard {
    margin-bottom: 44px;
    height: 240px;
    padding: 35px 40px;
    border-radius: 25px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.568) ;
}
.fruitTitle {
    font-family: var(--Sriracha);
    font-size: 30px;
}
.remark {
    font-family: var(--Quattrocento);
    font-size: 16px;
    opacity: 50%;
}
.fruitPage {
    font-size: 14px;
    font-family: var(--Maven);
    font-style: bold;
    padding-top: 100px;
    padding-right: 143px;

}
.banane {
    background-color: #FFF8D7 ;
}
.fruitboard img {
    width: 70px;

}
h2 {
   margin: 0px;
}
.Product img {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  
}
p {
    margin:27px 95px 36px 96px ;
}