:root {
    --green : #57BB6B ;
    --Maven : 'Maven Pro', sans-serif;
    --Quattrocento: 'Quattrocento', serif;
    --Sriracha : 'Sriracha', cursive;
    --green-light : #C4F2AD;
}
body {
    text-align: center;
    background-color: var(--green) ;
    margin: 8px 0px;
}
.home {
    background-image: url("../img/fruitspng.webp");
    background-size: cover;
    height: 380px;
    padding: 28px;
}
.ticket {
 text-align: center;
 background-color: rgba(255, 255, 255, 0.76) ;
 padding: 36px 0px ;
}
.ticket img {
    width: 210px;
}
.description {
    font-size: 20px;
    font-family: var(--Quattrocento);
    color: var(--green);
    margin: 15px 74px 33px 83px;
}
nav div {
    margin: 33px ;
    margin-bottom: 50px;
}
nav div a {
    padding: 14px 17px;
    border-radius: 15px;
    text-decoration: none;
    font-family: var(--Maven) ;
}
.button {
    background-color: var(--green);
    color: white;
}
.button-light { 
    background-color: white;
    color: var(--green);
}
.intro {
    background-color: white;
    padding: 90px 0px ;
}
.intro p {
    font-size: 16px;
    font-family: var(--Quattrocento);
}
h1 {
    margin: 0px;
}
.fruitline {
    width: 30px;
    padding: 0px 15px;
    margin: 0px 0px 46px 0px;
}
.title {
font-size: 26px;
 font-family: var(--Maven);
 font-style: bold;
 margin: 95px 96px 31px 95px;
}
.Product {
    margin: 40px 30px;
}
.titleProducts {
color: white;
font-size: 26px;
font-family: var(--Maven);
margin-bottom: 35px;
}
.fruitboard {
    margin-bottom: 44px;
    height: 240px;
    padding: 35px 40px;
    border-radius: 25px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.568) ;
}
.fruitTitle {
    font-family: var(--Sriracha);
    font-size: 30px;
}
.remark {
    font-family: var(--Quattrocento);
    font-size: 16px;
    opacity: 50%;
    text-align: left;
    margin: 0px;
}
.fruitPage {
    font-size: 14px;
    font-family: var(--Maven);
    font-style: bold;
    padding-top: 100px;
    padding-right: 143px;
}
.banane {
    background-color: #FFF8D7 ;
}
.kiwi {
    background-color: var(--green-light);
}
.café {
    background-color: #D3C6B2;
}
.fraise {
    background-color: #F7A4B4;
}
.fruitboard img {
    width: 75px;
}
h2 {
   margin: 0px;
}
p {
    margin:27px 95px 36px 96px ;
}
.footer {
    background-color: white;
} 
 .footer .title {
    padding: 43px 93px 35px 100px;
 }
 .Product .container  {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: flex-end;

 }
 .source {
     font-family:var(--Maven) ;
     font-size: 12px;
     color:var(--green) ;
     margin: 74px 121px 112px 121px;

 }
 .container .button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding: 15px 14px 13px 18px;
    margin: 95px 76px 211px 76px;
    border-radius: 15px;
    text-decoration: none;
    font-family: var(--Maven) ;
}
 footer .title {
    font-size: 26px;
     font-family: var(--Maven);
     font-style: bold;
     margin: 43px 93px 35px 100px;
 }
 .container-kiwi {
     color: white;
     text-align: left;
     font-family: var(--Quattrocento);
     font-size: 16px;
     padding: 62px 87px 55px 68px;
 }
 img {
     padding: 31px 67px 38px 67px;
 }
 .contact {
     text-align: center;
     padding: 55px;
     color:var(--green) ;
     font-family:var(--Maven) ;

 }